.header{
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
}

.logo{
    font-size:24px;
    color:#F9FAF8;
}

.header-links{
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    align-items: center;
    color:#E5E7EB;
}

.text-header{
    font-size:48px;
    color:#F9FAF8;
    font-weight: 900;
}

.mini-header{
    font-size:18px;
    color:#E5E7EB;
    display: flex;
    flex-direction: row;

}

.header-button{
    background-color:#3882F6;
    color:#F9FAF8;
    border:none;
}

p{
    margin:0;
}

body{
    margin:0
}