.header{
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    padding-right: 60px;
}

.logo{
    font-size:24px;
    color:#F9FAF8;
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    margin-bottom: 20px;
}
.header-links{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    list-style: none;
    color:#E5E7EB;
}

a{
    text-decoration: none;
    color: inherit;
}

.text-header{
    font-size:38px;
    color:#F9FAF8;
    font-weight: 900;
    gap:20px;
}

.mini-header{
    font-size:18px;
    color:#E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap:20px;
}

.header-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

.header-button{
    background-color:#3882F6;
    color:#F9FAF8;
    border:1px black;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: flex-start;
}

.header-image{
    width:300px;
    height: 150px;
    border:2px black;
    background-color: grey;
    align-self: end;
}

.info-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.info-section .title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.info-section .pics{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: space-evenly;
    padding-left: 40px;
    padding-right: 40px;
}

.info-section .pics .image-1, .image-2, .image-3, .image-4{
    width: 50px;
    height: 50px;
    border:2px solid #3882F6;
}

.caption1, .caption2, .caption3, .caption4{
    display: flex;;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
}


p{
    margin:0;
}

body{
    margin:0
}