* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* HEADER STYLES */
.header{
    background-color: #1F2937;
    color: white;
    padding: 20px 200px;
    padding-bottom: 100px;
}

.logo{
    font-size:24px;
    color:#F9FAF8;
    font-weight: bold;
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    margin-bottom: 80px;
}
.header-links{
    display: flex;
    gap: 20px;
    list-style: none;
    color:#E5E7EB;
    font-size: 18px;
}

a{
    text-decoration: none;
    color: inherit;
}

.text-header{
    font-size:38px;
    color:#F9FAF8;
    font-weight: 900;
    margin-bottom: 10px;
}

.mini-header{
    font-size:18px;
    color:#E5E7EB;
    margin-bottom: 15px;
}

.header-button{
    background-color: #3882F6;
    color:#F9FAF8;
    border: none;
    padding:8px 30px;
    font-size:16px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.header-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:40px;
}

.header-content{
    flex:1;
    max-width: 450px;
}


.header-image{
    width:500px;
    height: 250px;
    background-color: #6d7a89;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#E5E7EB;
    flex-shrink: 0;
}


/* INFO SECTION */
.info-section{
    padding: 50px 200px;
    text-align: center;
}

.info-section .title{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 50px;
}

.info-section .pics{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
}

.pic-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
}

.image-box {
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 15px;
    margin-bottom: 10px;
   ;
}

.caption{
    font-size: 16px;
    color: #6d7a89;
    text-align: center;
}

/* Quote Section */

.quote-section{
    padding: 100px 300px;
    background-color: lightgray;
}

.quote-text{
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color:#1F2937;
    margin-bottom: 20px;    
}

.quote-author{
    font-size: 20px;
    font-weight: bold;
    color:#1F2937;
    text-align: right;
    padding-right: 50px;
}

/* SIGN UP SECTION */
.sign-up-section{
    padding: 100px 200px;
}

.sign-up-box{
    background-color: #3882F6;
    padding:50px 100px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sign-up-content{
    color: white;
}

.sign-up-text{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.sign-up-subtext{
    font-size: 16px;
    color: #e5e7eb;
}

.sign-up-button{
    background-color: #3882F6;
    color: white;
    border: 2px solid white;
    padding: 8px 30px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.footer{
    background-color:#1F2937 ;
    color:white;
    padding:40px;
    text-align: center;
}

.footer-logo{
    font-size:16px;
}
